{% for book in books %}
    <h1>Mon livre : </h1>
    <div>
        <p>Titre : {{ book.title }}</p>
        <p>Auteur : {{ book.author }}</p>
        <p>Résumé : {{ book.resume }}</p>
        <p>Nombre de pages : {{ book.nbPages }}</p>
    </div>
    <a href="{{ path('admin_book_show', {'id' : book.id}) }}">
        Voir le livre
    </a>
    <a href="{{ path('admin_book_delete', {'id' : book.id}) }}">
        Supprimer le livre
    </a>
    <a href="{{ path('admin_book_update', {'id' : book.id}) }}">
        Modifier le livre
    </a>
{% endfor %}
